@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-nav: rgba(0, 0, 0, 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, #001b55, #000000 50%);
    --foreground: #ffffff;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--foreground);
  margin: 0.2rem;
}

.font-alan-sans {
  font-family: "Alan Sans", sans-serif;
}

.font-noto-sans {
  font-family: "Noto Sans", sans-serif;
}

.font-nunito-sans {
  font-family: "Nunito Sans", sans-serif;
}
